* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    scroll-behavior: smooth;
    scroll-padding-top: 5rem;
}

:root {
    --main-color: #192641;
    --font-size-p: 1.2rem;
    --font-size-h1: 3.2rem;
    --button-color: #800000;
    --hover-color: #952929;
    --button: #218101;
    --button-color2: linear-gradient(180deg, #800000, #ff4757);
    --text-color: #302d2d;
    --text-color2: #ebebeb;
    --main-color2: #263a66;
    --secondary-color: #8b9dc3;
    --light-color: #dfe3ee;
}

body {
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    list-style: none;
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', sans-serif;
}

.container {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    padding: 0 5rem;
}

section {
    padding: 0rem 4rem;
    
}

header {
    margin-top: 50px;
}

.navbar { 
    background: #192641;
    width: 100%;
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2rem;
    position: fixed; /* Fixed navbar */
    top: 0;
    left: 0;
    z-index: 1000;
    transition: background 0.4s ease-in-out;
}

.navbar.scrolling {
    background: #4e5371; /* Background color when scrolling */
}

.navbar__logo img {
    width: 180px;
    cursor: pointer;
}

.navbar__menu-list {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.navbar__menu-item {
    position: relative;
}

.navbar__menu-link {
    color: var(--text-color2);
    font-size: 1rem;
    font-family: 'Montserrat', sans-serif;
    transition: color 0.3s ease;
    font-weight: 600;
}

.navbar__menu-link:hover {
    color: #41d410;
}

.navbar__menu-link::after {
    content: '';
    position: absolute;
    width: 0%;
    height: 2px;
    background: #2cb100;
    bottom: -5px;
    left: 0;
    transition: width 0.3s ease;
}

.navbar__menu-link:hover::after {
    width: 100%;
}

/* user-acc */
.user-acc {
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

.register-btn {
    background-color: var(--button);
    padding: 0.6rem 1.6rem;
    border-radius: 5px;
    color: var(--text-color2);
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 0.9rem;
    text-align: center;
    text-decoration: none;
    transition: background 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
}

.register-btn:hover {
    background: #2a9108;
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.2);
}

.user-acc__profile {
    color: var(--text-color2);
    font-size: 1.3rem;
    transition: color 0.3s ease;
    margin-left: 1rem; /* Bu yerda oraliq qo'shildi */
    border: 2px solid #218101; /* Orqa fon rangi qo'shildi */
    padding: 0.5rem 0.8rem; /* Ichki bo'shliq qo'shildi */
    border-radius: 100%; /* Doira shakli qo'shildi */
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1); /* Soya qo'shildi */
    cursor: pointer;
}

.user-acc__profile:hover {
    color: #218101;
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: calc(100vh - 30px); /* Adjust based on header height */
    text-align: center;
    position: relative;
    background-image: url('..//img/960x0.webp'); /* Rasm manzili */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.main::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7); /* Opaqlikni o'zgartirishingiz mumkin */
    z-index: 1;
}

.home__container {
    position: relative;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.home-data__title {
    font-size: var(--font-size-h1);
    color: var(--text-color2);
    margin-bottom: 1rem;
}

.home-data__text {
    font-size: var(--font-size-p);
    color: var(--text-color2);
    margin-bottom: 2rem;
}

.home-button {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.home-button__link {
    display: inline-block;
    margin: 10px;
    padding: 12px 24px;
    color: #fff;
    background: var(--button-color);
    border-radius: 5px;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    transition: all 0.3s ease;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
}

.home-button__link:hover {
    background: var(--hover-color);
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.2), 0 10px 10px rgba(0, 0, 0, 0.15);
    transform: translateY(-5px);
}

.featured-projects {
    padding: 4rem 1rem;
    background-color: var(--main-color2);
}

.section-title {
    text-align: center;
    font-size: 2.5rem;
    color: var(--text-color2);
    margin-bottom: 3rem;
    font-family: 'Montserrat', sans-serif;
    position: relative;
}

.section-title::after {
    content: '';
    display: block;
    width: 100px;
    height: 4px;
    background: var(--text-color2);
    margin: 1rem auto 0;
}

/* Project Section */
.projects {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
}

.project {
    background: transparent;
    border: 2px solid var(--text-color2);
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    width: 300px;
    text-align: center;
    position: relative;
}

.project__image {
    width: 100%;
    height: 200px;
    transition: transform 0.3s ease;
}

.project__info {
    padding: 1rem;
    color: var(--text-color2);
}

.project__title {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
    font-family: 'Montserrat', sans-serif;
}

.project__description {
    font-size: 1rem;
    color: var(--text-color2);
    margin-bottom: 1rem;
    font-family: 'Lato', sans-serif;
}

.project__link {
    display: inline-block;
    padding: 0.5rem 1rem;
    color: #fff;
    background-color: var(--button-color);
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    font-family: 'Montserrat', sans-serif;
}

.project__link:hover {
    background-color: var(--hover-color);
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
}

.project:hover {
    transform: scale(1.1);
}

.project:hover {
    transform: translateY(-10px);
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.2);
}

/* Top Players */
.top-players {
    padding: 50px;
    background-color: var(--main-color);
}

.player-cards {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.player-card {
    background: transparent;
    color: var(--text-color2);
    border: 2px solid var(--text-color2);
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    width: 300px;
    margin: 1rem;
    text-align: center;
    padding: 20px;
}

.player-card img {
    width: 100%;
    border-radius: 10px;
    height: 300px;
    object-fit: cover;
}

.player-info {
    margin-top: 10px;
}

.player-info h3 {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.player-info p {
    font-size: 1rem;
    color: var(--text-color2);
}

.player-card:hover {
    transform: scale(1.05);
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.2);
}

/* 
  * Event Sections
*/

.events-section {
    padding: 4rem 1em;
    background-color: var(--main-color2);
    text-align: center;
}

.events-section h2 {
    font-size: 2.5em;
    margin-bottom: 20px;
    color: var(--text-color2);
    position: relative;
}

.events-section h2::after {
    content: '';
    width: 50px;
    height: 5px;
    background-color: #007BFF;
    display: block;
    margin: 10px auto 0;
}

.event-card {
    background-color: #fff;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 40px;
    display: flex;
    flex-direction: column;
    text-align: left;
    transition: transform 0.3s ease-in-out;
}

.event-card span {
    font-weight: 600;
    color: var(--main-color);
}

.event-card:hover {
    transform: translateY(-10px);
}

.event-card img {
    width: 100%;
    height: 600px;
}

.event-content {
    padding: 30px;
}

.event-content h3 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.event-content p {
    color: #666;
    margin-bottom: 10px;
}

.register-btn-n {
    display: inline-block;
    padding: 10px 20px;
    color: #fff;
    background-color: #007BFF;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s ease-in-out;
}

.register-btn-n:hover {
    background-color: #0056b3;
}


/* FAQ  */
.faq-section {
    padding: 4rem 1rem;
    background: var(--main-color);
    color: var(--text-color2);
}
.faqs-container {
    margin: 0 auto;
    max-width: 600px;
  }
  
  .faq {
    background-color: transparent;
    border: 1px solid #9FA4A8;
    border-radius: 10px;
    padding: 20px;
    position: relative;
    overflow: hidden;
    margin: 20px 0;
    transition: 0.3s ease;
  }
  
  .faq.active {
    background-color: var(--main-color2);
    box-shadow: 0 3px 6px rgba(0,0,0,0.1), 0 3px 6px rgba(0,0,0,0.1);
  }
  
  .faq.active::after, .faq.active::before {
    color: #2ecc71;
    content: '\f075';
    font-family: 'Font Awesome 5 Free';
    font-size: 7rem;
    position: absolute;
    opacity: 0.2;
    top: 20px;
    left: 20px;
    z-index: 0;
  }
  
  .faq.active::before {
    color: #3498db;
    top: -10px;
    left: -30px;
    transform: rotateY(180deg);
  }
  
  .faq-title {
    margin: 0 35px 0 0;
  }
  
  .faq-text {
    display: none;
    margin: 30px 0 0;
  }
  
  .faq.active .faq-text {
    display: block;
  }
  
  .faq-toggle {
    background-color: transparent;
    border: none;
    border-radius: 50%;
    color: #fff;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    padding: 0;
    position: absolute;
    top: 20px;
    right: 30px;
    height: 30px;
    width: 30px;
  }
  
  .faq-toggle:focus {
    outline: none;
  }
  
  .faq.active .faq-toggle {
    background-color: #a89f9f;
  }
  
  .faq-toggle .fa-times {
    display: none;
  }
  
  .faq.active .faq-toggle .fa-times {
    display: block;
  }
  
  .faq-toggle .fa-chevron-down {
    color: #ffffff;
  }
  
  .faq.active .faq-toggle .fa-chevron-down {
    display: none;
  }
  
/* About Us Section Styles */
.about-section {
    padding: 4rem 1rem;
    background-color: var(--main-color2);
    text-align: center;
  }
  
  .section-title {
    font-size: 2.5rem;
    color: var(--text-color2);
    margin-bottom: 1rem;
  }
  
  .section-subtitle {
    font-size: 1.2rem;
    color: var(--text-color2);
    margin-bottom: 1em;
  }
  
  .about-image img {
    width: 100%;
    max-width: 500px;
    border-radius: 10px;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
  }

  .about-text {
    text-align: center;
    z-index: 100;
    line-height: 2rem;
  }
  
  .about-content {
    background: url('https://saigontechnology.com/assets/media/Blog/tips-to-build-an-effective-software-development-team.jpeg');
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: calc(100vh - 70px); /* Adjust based on header height */
    text-align: center;
    position: relative;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  .about-content::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8); /* Opaqlikni o'zgartirishingiz mumkin */
    z-index: 1;
}

  
  .about-text p {
    font-size: 1.2rem;
    color: var(--text-color2);
    margin-bottom: 1rem;
  }
  
  .team {
    margin-top: 4rem;
  }
  
  .team-title {
    font-size: 2rem;
    color: var(--text-color2);
    margin-bottom: 2rem;
  }
  
  .team-members {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
  }
  
  .team-member {
    background-color: var(--text-color2);
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
    padding: 1.5rem;
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    width: 300px;
  }
  
  .team-member img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-bottom: 1rem;
  }
  
  .team-member h4 {
    font-size: 1.5rem;
    color: var(--main-color);
    margin-bottom: 0.5rem;
  }
  
  .team-member p {
    font-size: 1rem;
    color: var(--text-color);
  }
  
  .team-member:hover {
    transform: translateY(-10px);
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.2);
  }
  
  /* Contact Section */
.contact-page {
  padding: 50px 0;
  background-color: var(--main-color);
  text-align: center;
  color: var(--text-color2);
}

.contact-page h2 {
  font-size: 36px;
  margin-bottom: 20px;
}

.contact-page p {
  font-size: 18px;
  margin-bottom: 40px;
}

/* Contact Form */
#contact-form {
  max-width: 600px;
  margin: 0 auto;
  text-align: left;
}

#contact-form .form-group {
  margin-bottom: 20px;
}

#contact-form label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

#contact-form input,
#contact-form textarea {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  font-size: 16px;
  border: none;
  background: var(--main-color2);
  color: var(--text-color2);
  outline: none;
}

#contact-form input:focus {
  box-shadow:inset 0px 0px 0px 2px #4a6678;
}

#contact-form button {
  display: inline-block;
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 18px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#contact-form button:hover {
  background-color: #0056b3;
}

/* Footer Section */
footer {
  background-color: #1c2a4a;
  border-top: 2px solid #16213a;
  color: #fff;
  padding: 40px 0;
  text-align: left;
  font-size: 16px;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
  flex-wrap: wrap;
}

.footer-section {
  flex: 1;
  padding: 0 20px;
  min-width: 200px;
}

.footer-section h3 {
  color: #fff;
  margin-bottom: 20px;
}

.parag {
  margin-top: -20px;
}


.footer-section ul,
.footer-section li {
  margin: 0;
  padding: 0;
  list-style: none;
}

.footer-section a {
  color: #fff;
  text-decoration: none;
  font-size: 16px;
}

.footer-section a:hover {
  text-decoration: underline;
}

.social-media {
  margin-top: 20px;
}

.social-media a {
  color: #fff;
  margin-right: 10px;
  font-size: 20px;
  text-decoration: none;
}

.social-media a:hover {
  color: #007bff;
}

.footer-bottom {
  text-align: center;
  margin-top: 20px;
  border-top: 1px solid #555;
  padding-top: 10px;
}

.footer-bottom p {
  margin: 0;
}
